* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin-bottom: -16px; */
}

.color__name {
  color: orangered;
}

header > p {
  font-size: 1.8em;
}

.navBar {
  /* margin-top: -16px; */
  background-color: orangered;
  height: 100vh;
  width: 100vw;
  /* margin-left: 25%; */
}

.button {
  display: inline-flex;
  height: 40px;
  width: 200px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.5em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  index: 50;
  top: 535px;
  position: absolute;
}

#arrow-hover {
  width: 15px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
  transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

a#button-1:hover img {
  width: 20px;
  opacity: 1;
  transform: translateX(70px);
}

/* Navbar */
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #282c22;
  font-size: 1.3em;
  color: white;
  border-bottom: 2px solid #0088a9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav__links {
  list-style: none;
  color: white;
  margin-left: 25px;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

li > a {
  text-decoration: none;
  color: white;
  /* text-transform: uppercase; */
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 0.8em;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.about {
  height: 100vh;
  width: 100%;
  /* align-items: center; */
}
/* .test {
  height: 100vh;
  width: 100%;
  background-color: darkblue;
  /* align-items: center; 
} */

.about > h1 {
  text-align: center;
  font-size: 2.5em;
  color: #616266;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.top-about {
  /* height: 28%; */
  width: 80%;
  margin: 25px auto;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
}
.top-about-item {
  margin: 10px;
  /* padding: 20px; */
  height: 250px;
  width: 300px;
  /* background-color: cadetblue; */
}

.container-about {
  /* height: 65%; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.test-div-left {
  height: 525px;
  width: 600px;
}
.test-div-right {
  height: 525px;
  width: 600px;
}

.image-about-item {
  height: 60%;
  margin: 0 auto;
}

.title-about-item {
  font-size: 1.5em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #616266;
}

.content-about-item {
  /* background-color: chartreuse; */
  justify-content: center;
  font-size: 0.99em;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #616278;
}

.imageme-about-picture {
  height: 300px;
  width: 300px;
  display: block;
  border-radius: 50%;
  margin: 50px auto 15px;
}

.title-imageme {
  font-size: 1.5em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #616266;
}

.imageme-about {
  font-size: 0.99em;
  margin-top: 5px 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #616278;
  text-align: center;
}

.margin-skills {
  margin-top: 50px;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  font-weight: bold;
  color: white;
}

.html {
  width: 85%;
  background-color: #4caf50;
}

.css {
  width: 50%;
  background-color: #3e8bd8;
}
.js {
  width: 80%;
  background-color: #4caf50;
}

.react {
  width: 70%;
  background-color: #4caf50;
}

.node {
  width: 75%;
  background-color: #4caf50;
}

.php {
  width: 40%;
  background-color: #3e8bd8;
}

.laravel {
  width: 35%;
  background-color: #f44336;
}
.java {
  width: 60%;
  background-color: #4caf50;
}

.flutter {
  width: 20%;
  background-color: #f44336;
}
