* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin-bottom: -16px; */
}

.color__name {
  color: orangered;
}

header > p {
  font-size: 1.8em;
}

.navBar {
  /* margin-top: -16px; */
  background-color: orangered;
  height: 100vh;
  width: 100vw;
  /* margin-left: 25%; */
}
.navBar1 {
  /* margin-top: -16px; */
  background-color: orchid;
  height: 100vh;
  width: 100vw;
  /* margin-left: 25%; */
}


.button {
  display: inline-flex;
  height: 40px;
  width: 200px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.5em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  index: 50;
  top: 535px;
  position: absolute;
}

#arrow-hover {
  width: 15px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
  transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

a#button-1:hover img {
  width: 20px;
  opacity: 1;
  transform: translateX(70px);
}

/* Navbar */
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #191919;
  font-size: 1.30em;
  color: white;
  border-bottom: 2px solid #0088a9;
  position: sticky;

}

.nav__links {
  list-style: none;
  color: white;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  
}

.nav__links li a {
  transition:  all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

li > a {
  text-decoration: none;
  color: white;
  /* text-transform: uppercase; */

}

button {
  padding: 9px 25px;
  background-color: rgba(0,136 ,169 ,1 );
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition:  all 0.3s ease 0s;
  color: white;
  font-size: 0.8em;

}

button:hover {
  background-color: rgba(0,136 ,169 ,0.8 );

}